// **************************************************
// Name: codepenSCSS.scss
// Description: style from original codepen
// **************************************************


// All Styles
// ---------------------------

.body-bgColor {
  background: #dfdfdf;
}

$color-red: #E50B00;

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  text-align: center;
  font-size: 100px;
  color: rgba(black,.1);
  @media(max-width: 800px) {
    font-size: 50px;
  }
}

.mobileNav {
  position: relative;
  width: 400px;
  background: white;
  display: none;
}

.mobileNav-open {
  display: block;
}

.mobileNav_tier1 {
  width: 75px;
  font-size: 1rem;
  text-align: center;
  background: $color-red;
  color: white;
}

.mobileNav_tier1_item {
  display: block;
  height: 75px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(white, .2);
  color: rgba(white, .9);
}

.mobileNav_tier2 {
  display: none;
  position: absolute;
  top: 0;
  left: 75px;
  font-size: 1.5rem;
  text-align: left;
}

.mobileNav_tier2 li {
  width: 325px;
}

.mobileNav_tier2_heading {
  display: block;
  width: 100%;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eee;
  font-size: inherit;
  font-weight: 400;
  color: #888;
}

.mobileNav_tier2_item {
  display: block;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #eee;
  color: $color-red;
  font-weight: bold;
  &:hover {
    background: #fafafa;
  }
}

.mobileNav_tier2_item-search {
  display: block;
  width: 100%;
  padding: 20px 40px;
  color: #111;
  border: none;
  border-bottom: 1px solid #eee;
  background: #fafafa;
}

// State Classes for Tier 1 and Tier 2 Menu

.mobileNav_tier1 li.active {
  background: lighten($color-red, 10%);
  > a {
    color: white;
  }
  .mobileNav_tier2 {
    display: block;
  }
}

.navbar {
  height: 75px;
  width: 100%;
  background: white;
  border-bottom: 1px solid #ccc;
}

.burger {
  padding: 25px 15px;
}

[class^="line-"] {
  display: block;
  height: 5px;
  width: 40px;
  background: $color-red;
  border-radius: 2px;
}

.line-1 {
  margin-bottom: 5px;
}
.line-2 {
  margin-bottom: 5px;
}


[class^="icon-"] {
  margin: 0 auto;
  display: block;
  padding-top: 10px;
}




/* .burger-closed {

}
 */

.burger-open {
  .line-1 {
    animation: burger-line1-open .2s forwards ease-in;
  }
  .line-2 {
    animation: burger-line2-open .2s forwards ease-in;
  }
  .line-3 {
    animation: burger-line3-open .2s forwards ease-in;
  }
}

@keyframes burger-line1-open {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px) rotate(45deg);
  }
}

@keyframes burger-line2-open {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes burger-line3-open {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px) rotate(-45deg);
  }
}


/// Create burger Menu
// --------------
// Create animation
// Refactor and nest code for 2 tiers
// Display and hide text when clicking tier 1
// Create better hover effects
// Add icons for sections
// Make it mobile repsonive
